.banner{
    margin-top: 0;
    background-image: linear-gradient(to right,black ,goldenrod);
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    overflow-x: hidden;
}
.banner > h1{
    margin: 5vmax;
    font: 600 2.5vmax "Roboto";

}
.banner > p{
    font: 300 1.4vmax "Lucida Sans";
}

.banner > a > button{
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
    overflow-x:hidden
}
.homeHeading1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2vmax;
    border-bottom: 2px solid goldenrod;
    width: 40vmax;
    padding: 1vmax;
    margin:1.5vmax auto;
    color: rgba(0,0,0,0.7);
}
.homeHeading{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2vmax;
    border-bottom: 2px solid goldenrod;
    width: 20vmax;
    padding: 1vmax;
    margin:5vmax auto;
    color: rgba(0,0,0,0.7);
} 
.container1{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;
    min-height: 30vh;
}

.CheckButton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1vmax;
    background-color:#74703F;
    font: 500 1.5vmax "Roboto";
    color: goldenrod;
} 

.view-all-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color:goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .baner {
    width: 100vw;
    overflow: hidden;
  }
  
  .baner-img {
    width: 100vw;
    height: 15vmax;
    display: block;
  }
  
  .view-all-btn:hover {
    background-color:gold;
  }
@media screen and (max-width:600px) {

    .container{
    display: flex;
    justify-content: space-evenly;
    max-width:  100%;
    flex-wrap: wrap;
    }
    
    
}