.loginSignupContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231,231,231);
    position: fixed;
    top: 0%;
    left: 0;
}
.loginSignupBox{
    background-color: white;
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
}
.login_Signup_Toggle{
    display: flex;
    height: 3vmax;
}
.login_Signup_Toggle > p{
    color: rgba(0,0,0,0.678);
    font: 300 1vmax,"Roboto";
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
}
.login_Signup_Toggle > p :hover{
    color: goldenrod;
}
.loginSignupBox > div > button{
    background-color: goldenrod;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
}

.loginForm,
.signupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;

}
.signupForm{
    transform: translateY(-100%) translateX(100vmax);
}

.loginForm > div,
.signupForm > div{
    display: flex;
    width: 100%;
    align-items: center;
}
.cbox{
    display: block;
}

.loginForm > div > input,
.signupForm > div  > input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;

}

.loginForm > div > input[type="checkbox"],
.signupForm > div  > input[type="checkbox"]{
    margin-left: 0;

}
.loginForm > div > svg,
.signupForm > div  > svg{

    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0,0,0,0.623);

}

.loginForm > a{
    color: rgba(0,0,0,0.651);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font: 500 0.8vmax "Gill Sans";
}
.loginForm > a:hover{
    color: black;
}
.loginBtn,
.signupBtn{
    border: none;
    background-color:goldenrod;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.219);
}
.loginBtn:hover,
.signupBtn:hover{
    background-color:rgba(249, 180, 5, 0.934);
}
.shiftToLeft{
    transform: translateX(-100%);
}
.shiftToNeutral{
    transform:translateX(0%)
}
.shiftToNeutralForm{
    transform: translateX(0%) translateY(-100%);
}
.shiftToRight{
    transform: translateX(100%);
}



/* For smaller screens */
@media screen and (max-width:600px) {
  .loginSignupContainer{
      background-color: white;
  }
  .loginSignupBox{
      margin-top: 15vmax;
      width: 100vw;
      height: 95vh;
  }
  .login_Signup_Toggle{
      height: 5vmax;
  }
  .login_Signup_Toggle > p{
      font: 300 1.5vmax "Roboto";

  }
  .loginForm,
  .signupForm{
      padding: 6vmax;
  }
  .loginForm > input,
  .signupForm >input{
      padding: 2.5vmax;
      font: 300 1.7vmax cursive;

  }
  .loginForm > div > svg,
  .signupForm > div > svg{
      font-size: 2.8vmax;
  }
  .loginForm > a{
      font: 500 1.8vmax "Gill Sans";
  }
  .loginBtn,
  .signupBtn{
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
  }
  
}
