.navigation-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-menu li{
    margin: 0 20px;
}
.navigation-menu li a{
    text-decoration: none;
    color: white;
}
.mobile-navigation{
    list-style: none;
}
.mobile-navigation li{
    margin-top: 20px;
}
.mobile-navigation li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}

.right-header{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-header li{
    margin: 0 5px;
}
.right-header li a{
    text-decoration: none;
    color: white;
}
.right-header  >li > a > sup{
    color: gold;
}